@media screen and (max-width:1080px){
    .benchmarking-box h5{font-size: 40px;}
    .benchmarking-box h4{font-size: 55px;}
}

@media screen and (max-width:992px){
    .benchmarking-box h5{font-size: 35px;}
    .benchmarking-box h4{font-size: 50px;}
}

@media screen and (max-width:870px){
    .benchmarking-box h5{font-size: 30px;margin: 10px 0 0;}
    .benchmarking-box h4{font-size: 42px; line-height: 35px;}
}


@media screen and (max-width:767px){
    .benchmarking-box .text-right{text-align: center;}
    .welcome-main .pull-right , .welcome-main p{float:left !important; width: 100%;}
    .welcome-main p{max-width:100%;}
}

@media screen and (max-width:650px){
    .logo-lp img{max-width: 85%;}
    .form-whole{width: 98%;}
    .heading-top .pull-right{float:left !important; width: 100%;}
    .heading-btm-div{width: 90%; font-size: 30px;}
    .blackbg-opcty-60 table thead th {font-size: 18px;padding: 8px 20px;line-height: 25px;}
    .blackbg-opcty-60 table td {padding: 6px 20px;font-size: 15px;}
    .welcome-main p span , .welcome-main p b{font-size: 20px;}
    .select2-container--default .select2-selection--single {font-size:20px;}
}

@media screen and (max-width:500px){
    .logo-lp img{max-width: 95%;}
    .services-whole .col-xs-6 , .target-segment-whole .col-xs-6{width: 100%; float: left;}
    .target-segment-whole .col-xs-6 , .target-segment-whole .col-xs-6:nth-last-child(2){border-bottom: 1px solid #34393d;border-right: none;}
    .televisory-logo-lg{width: 80%;}
    .menuicon img{width: 70%;}
    .usericon-top{width: 60%;}
    .form-whole .col-xs-12 input[type="text"], .form-whole .col-xs-12 input[type="password"], .form-whole .col-xs-12 select , .sidenav a {font-size: 20px;}
    .submitdiv .borderedbtn{font-size: 28px;}
    .heading-btm-div{font-size: 23px; padding: 12px 25px;}
    .welcome-main p span , .welcome-main p b{font-size: 17px;}
    .errormsg{font-size:15px;}
}

@media screen and (max-width:400px){
    .logo-lp img{max-width: 100%;}
    .fixed-footer li , .fixed-footer li .blackbtn{ float: left !important ; width: 100%; margin-bottom: 5px; margin-top: 5px; text-align: center}
    .fixed-footer li:nth-child(2){margin-bottom: 0;}
    .sidenav a{font-size: 18px;}
	.inputsubmitbtn-icon:after{opacity:0;}
	.inputsubmitbtn-icon .blackbtn_submitbtn {padding: 6px 32px 6px 32px;background: #000;color:#fff;}
	.errormsg{font-size:13px;}
}