.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width:780px;
  background: white;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
}


.modal-box header{
  padding: 30px 30px 15px;
}

.modal-box header h2 {
	 margin: 0;
    padding-right: 30px;
}

.modal-box .modal-body { padding: 0 30px; }

.modal-box footer{
  padding:25px;
  background:#f2f4f6;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

.close {
	background-position: -66px -61px;
    display: block;
    height: 16px;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 16px;
}