{% extends 'AutomationUI/b_s1.html' %}
<script src="http://www.ittutorials.in/js/demo/numtoword.js" type="text/javascript"></script>
{% block tabs %}
<div class="container">
    <div class="row">
        <div class="col-md-12 marginTop-20">
            <div class="left-panel pull-left">
                <!--<form method="post" action="/automation/save_data/">-->
                    <!--{% csrf_token %}-->
                <div class="grey-box flw100">
                            <table id="table_data" style="width:100%">
                                <tr id="data">
                                    <td  style="font-size: 33; font-family: Arial;">Components</td>
                                    <td  style="font-size: 33; font-family: Arial;">Q1</td>
                                    <td  style="font-size: 33; font-family: Arial;">Q2</td>
                                    <td  style="font-size: 33; font-family: Arial;">Q3</td>
                                    <td  style="font-size: 33; font-family: Arial;">Q4</td>
                                    <td  style="font-size: 33; font-family: Arial;">Y1</td>
                                    <td  style="font-size: 33; font-family: Arial;">Y2</td>
                                    <td  style="font-size: 33; font-family: Arial;">Y3</td>
                                    <td  style="font-size: 33; font-family: Arial;">Y4</td>
                                    <!--<td style="font-size: 33; font-family: Arial;">comp</td>-->
                                </tr>


                                {% include 'AutomationUI/table_body.html' %}

                                </table>


                    </div>
                <!--</form>-->
                </div>
                    </div>
            </div>
        </div>
{% endblock tabs %}


