{% extends 'AutomationUI/b_s1.html' %}
{% block tabs %}
<div class="container">
    <div class="row">
        <div class="col-md-5 col-centered marginTop-60">
            <!-- change password form start -->
            <div class="white-box">
                <div class="col-md-12">
                    <h2>Change password</h2>
                    <p class="c9">Please fill the required details to change password</p>
                    <form id="change_password" method="post" id="college_faculty" action="/automation/change_password/">
                         {% csrf_token %}
                    <ul class="flw100 login_list">
                        <li>
                            <div class="marginTop-20">
                                <label for="">Old Password<span class="red-star">*</span></label>
                                 <input placeholder="Enter Old Password" id="oldpassword" class="form-control" name="old_password" type="password">
                            </div>
                        </li>
                        <li>
                           <div class="marginTop-20">
                                <label for="">New Password</label>
                                 <input placeholder="Enter New Password" id="newpasssword" class="form-control" name="new_password" type="password">
                            </div>
                        </li>
                        <li>
                            <div class="marginTop-20">
                                <label for="">Confirm Password<span class="red-star">*</span></label>
                                 <input placeholder="Confirm Password" id="confirmpassword" class="form-control" name="confirm_password" type="password">
                            </div>
                        </li>
                         <li>
                            <div class="marginTop-20">
                                 <input id="username" class="form-control" name="username" type="hidden" value="{{request.user.username}}">
                            </div>
                        </li>

                        <li>
                            <input class="btn btn-primary btn-min-width marginTop-10" value="Submit" type="submit" id="submit">
                        </li>

                    </ul>
                        </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- chnage password form end -->
        </div>
    </div>
</div>
{% endblock tabs %}
{% block js.custom1 %}
<script>
    $(document).ready(function(){
            var flag = "{{flag}}";
            if(flag == "0"){
                alert("New and confirm passwords are not same ")
            }
        });
</script>
<script type="text/javascript">
    $('.form_date').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
</script>
{% endblock js.custom1 %}