{% extends 'AutomationUI/b_s1.html' %}

<script src="http://www.ittutorials.in/js/demo/numtoword.js" type="text/javascript"></script>
{% block tabs %}
<div class="container-fluid top-bar" id="header1">
        <div class="col-sm-4">
                <a href="#">
                        <img src="{{MEDIA_URL}}automationui/images/logo.png" alt="">
                </a>
        </div>
        <div class="col-md-8 col-sm-8">
            <div class="progress-wrap">
                <span id="progress_data"></span>


                </div>
                <div class="pull-right user">
                    <strong>{{p_type}}</strong>
                    <strong style="margin-left:10px">{{c_obj.company_name}}</strong>
                    <strong style="margin-left:10px">{{unit}}</strong>
                     <strong class="arrow_box"><span class="sprite user-icon"></span>{{request.user.username}}</strong>
                        <div class="white-box open-action-user">
                            <ul>
                                <li><a href="/automation/change_password/">Change password</a></li>
                                <li><a href="/automation/logout/" class="btn-signout text-left">Sign out</a></li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>

<div class="container-fluid navbar" id="header2">
        <nav id="nav"  class="pull-left">
            <ul id="tab_name">
                <li><a href="/automation/get_dit_list/">DIT List</a></li>
                <li><a href="/automation/upload_pdf/">Upload PDF</a></li>
                <li><a onclick="go_to_back(this)" style="color:blue;text-decoration: underline;" >Go to Balance Sheet</a></li>
                <li><a onclick="calculate_pnl_qtr(this)" style="color:blue;text-decoration: underline;" >Calculate Pnl Last qtr</a></li>
                <li><a onclick="deleted_rows(this)" style="color:blue;text-decoration: underline;" >Deleted Rows</a></li>
                <li><a onclick="generate(this)" style="color:blue;text-decoration: underline;" >Download Excel</a></li>
                <li><a onclick="download_dump(this)" style="color:blue;text-decoration: underline;" >Download dump</a></li>



                <!--<li><a href="/automation/notification/" class="update-box">Update &amp; Notification {% if notice_count %}<span class="update-count">{{ notice_count }}</span>{% endif %}</a></li>-->
            </ul>
        </nav>
    </div>
{% include 'AutomationUI/table_format_trail.html' %}
{% endblock tabs %}
</div>