{% load get_item %}
{% load get_value %}
{% for sec,sub in data.items %}
                        <form method="post" id="pnl_form" action="/automation/profit-loss/?c_id=1">
                            {% csrf_token %}
                            <div class="section">
                            <div>
                                <div class="col-md-2"><input type="text" style="{% if sub.items|get_value %} border:None;color:green;background-color: ghostwhite;{% else %}background-color: ghostwhite;background-color: ghostwhite;border:None;color:blue; content: '\A';white-space: pre;{% endif %}" name="section" value="{{sec}}"></div>
                                <div class="col-md-1"><input type="text" style="{% if sub.items|get_value %} border:None;padding-left:30px;color:green;background-color: ghostwhite;{% else %}background-color: ghostwhite;padding-left:30px;border:None;color:blue{% endif %}" name="sec_q1" value="0"></div>
                                <div class="col-md-1"><input type="text" style="{% if sub.items|get_value %} border:None;padding-left:30px;color:green;background-color: ghostwhite;{% else %}background-color: ghostwhite;padding-left:30px;border:None;color:blue{% endif %}" name="sec_q2" value="0"></div>
                                <div class="col-md-1"><input type="text" style="{% if sub.items|get_value %} border:None;padding-left:30px;color:green;background-color: ghostwhite;{% else %}background-color: ghostwhite;padding-left:30px;border:None;color:blue{% endif %}" name="sec_q3" value="0"></div>
                                <div class="col-md-1"><input type="text" style="{% if sub.items|get_value %} border:None;padding-left:30px;color:green;background-color: ghostwhite;{% else %}background-color: ghostwhite;padding-left:30px;border:None;color:blue{% endif %}" name="sec_q4" value="0"></div>
                                <div class="col-md-1"><input type="text" style="{% if sub.items|get_value %} border:None;padding-left:30px;color:green;background-color: ghostwhite;{% else %}background-color: ghostwhite;padding-left:30px;border:None;color:blue{% endif %}" name="sec_lrq" value="0"></div>
                                <div class="col-md-1"><input type="text" style="{% if sub.items|get_value %} border:None;padding-left:30px;color:green;background-color: ghostwhite;{% else %}background-color: ghostwhite;padding-left:30px;border:None;color:blue{% endif %}" name="sec_y1" value="0"></div>
                                <div class="col-md-1"><input type="text" style="{% if sub.items|get_value %} border:None;padding-left:30px;color:green;background-color: ghostwhite;{% else %}background-color: ghostwhite;padding-left:30px;border:None;color:blue{% endif %}" name="sec_y2" value="0"></div>
                                <div class="col-md-1"><input type="text" style="{% if sub.items|get_value %} border:None;padding-left:30px;color:green;background-color: ghostwhite;{% else %}background-color: ghostwhite;padding-left:30px;border:None;color:blue{% endif %}" name="sec_y3" value="0"></div>
                                <div class="col-md-1"><input type="text" style="{% if sub.items|get_value %} border:None;padding-left:30px;color:green;background-color: ghostwhite;{% else %}background-color: ghostwhite;padding-left:30px;border:None;color:blue{% endif %}" name="sec_y4" value="0"></div>

                            </div>
                                {%for s1,s2 in sub.items %}
                                    {%if not s2|get_item  %}
                                        <div class="subsection college-list">
                                            <div >
                                                <div class="col-md-2"><input type="text" style="{% if sub %} background-color: ghostwhite;border:None;padding-left :30px;color:purple{% else %}border:None;padding-left :30px;color:Blue{% endif %}" name="subsection" value="{{s1}}"></div>
                                                <div class="col-md-1"><input style="background-color: ghostwhite;padding-left:30px;border:None;color:purple" name="s1_q1" type="text" value="{{s2.q1|default:0}}"></div>
                                                <div class="col-md-1"><input style="background-color: ghostwhite;padding-left:30px;border:None;color:purple" name="s1_q2" type="text" value="{{s2.q2|default:0}}"></div>
                                                <div class="col-md-1"><input style="background-color: ghostwhite;padding-left:30px;border:None;color:purple" name="s1_q3" type="text" value="{{s2.q3|default:0}}"></div>
                                                <div class="col-md-1"><input style="background-color: ghostwhite;padding-left:30px;border:None;color:purple" name="s1_q4" type="text" value="{{s2.q4|default:0}}"></div>
                                                <div class="col-md-1"><input style="background-color: ghostwhite;padding-left:30px;border:None;color:purple" name="s1_lrq" type="text" value="{{s2.lrq|default:0}}"></div>
                                                <div class="col-md-1"><input style="background-color: ghostwhite;padding-left:30px;border:None;color:purple" name="s1_y1" type="text" value="{{s2.y1|default:0}}"></div>
                                                <div class="col-md-1"><input style="background-color: ghostwhite;padding-left:30px;border:None;color:purple" name="s1_y2" type="text" value="{{s2.y2|default:0}}"></div>
                                                <div class="col-md-1"><input style="background-color: ghostwhite;padding-left:30px;border:None;color:purple" name="s1_y3" type="text" value="{{s2.y3|default:0}}"></div>
                                                <div class="col-md-1"><input style="background-color: ghostwhite;padding-left:30px;border:None;color:purple" name="s1_y4" type="text" value="{{s2.y4|default:0}}"></div>
                                                <div class="col-md-1">
                                                    <span onclick="add_row(this)" class="sprite plus-icon" style="padding-left:30px"></span>
                                                </div>

                                            </div>

                                                {%for i,j in s2.items %}

                                                    <div class="existing_sec">
                                                        <div class="col-md-2"><input  type="text" style="border:None;padding-left :80px;color:red" name="existing_sec" value="{{i}}"></div>
                                                        <div class="col-md-1"><input class="val" onchange="sum_val(this)" style="border:None;color:red;padding-left:30px;" name="exist_q1" type="text" value="{{j.q1|default:0}}"></div>
                                                        <div class="col-md-1"><input class="val" onchange="sum_val(this)" style="padding-left:30px;border:None;color:red" name="exist_q2" type="text" value="{{j.q2|default:0}}"></div>
                                                        <div class="col-md-1"><input class="val" onchange="sum_val(this)" style="padding-left:30px;border:None;color:red" name="exist_q3" type="text" value="{{j.q3|default:0}}"></div>
                                                        <div class="col-md-1"><input  class="val" onchange="sum_val(this)" style="padding-left:30px;border:None;color:red" name="exist_q4" type="text" value="{{j.q4|default:0}}"></div>
                                                        <div class="col-md-1"><input  class="val" onchange="sum_val(this)" style="padding-left:30px;border:None;color:red" name="exist_lrq" type="text" value="{{j.lrq.q4|default:0}}"></div>
                                                        <div class="col-md-1"><input  class="val" onchange="sum_val(this)" style="padding-left:30px;border:None;color:red" name="exist_y1" type="text" value="{{j.y1|default:0}}"></div>
                                                        <div class="col-md-1"><input  class="val" onchange="sum_val(this)" style="padding-left:30px;border:None;color:red" name="exist_y2" type="text" value="{{j.y2|default:0}}"></div>
                                                        <div class="col-md-1"><input  class="val" onchange="sum_val(this)" style="padding-left:30px;border:None;color:red" name="exist_y3" type="text" value="{{j.y3|default:0}}"></div>
                                                        <div class="col-md-1"><input  class="val" onchange="sum_val(this)" style="padding-left:30px;border:None;color:red" name="exist_y4" type="text" value="{{j.y4|default:0}}"></div>
                                                        <div class="col-md-1">
                                                             <select id="new_comp" style="width: 100px; padding-left:30px";name="b_comp" onchange="change_comp(this);">
                                                                 <option value ='' selected>Select Head</option>
                                                                {% for com in comp %}
                                                                            <option value="{{com}}" >{{com}}</option>
                                                                {% endfor %}

                                                            </select>
                                                        <span onclick="delete_row(this)" class="sprite delete_icon" style="padding-left:30px"></span>
                                                        </div>
                                                    </div>



                                                {%endfor%}

                                        </div>

                                {%endif%}

                                {%endfor%}
                            </div>

                            <!--<input style="width: 30%" type="button" value="Save" onclick="javascript:return form_save('pnl_form');">-->
                            <!--<button hidden ="hidden" class="btn btn-success"> </button>-->
                        </form>
                    {%endfor%}