{% load get_item %}
{% for sec,sub in data.items %}
                        <form method="post" id="bs_form" action="/automation/balance-sheet/?c_id=1">
                            {% csrf_token %}
                            <div class="section">
                            <div>
                                <div class="col-md-3"><input type="text" style="border:None;color:green" name="section" value="{{sec}}"></div>
                                <div class="col-md-1"><input type="text" style="border:None;color:green" name="sec_q1" value="{{sub.q1}}"></div>
                                <div class="col-md-1"><input type="text" style="border:None;color:green" name="sec_q2" value="{{sub.q2}}"></div>
                                <div class="col-md-1"><input type="text" style="border:None;color:green" name="sec_q3" value="{{sub.q3}}"></div>
                                <div class="col-md-1"><input type="text" style="border:None;color:green" name="sec_q4" value="{{sub.q4}}"></div>
                                <div class="col-md-1"><input type="text" style="border:None;color:green" name="sec_y1" value="{{sub.y1}}"></div>
                                <div class="col-md-1"><input type="text" style="border:None;color:green" name="sec_y2" value="{{sub.y2}}"></div>
                                <div class="col-md-1"><input type="text" style="border:None;color:green" name="sec_y3" value="{{sub.y3}}"></div>
                                <div class="col-md-1"><input type="text" style="border:None;color:green" name="sec_y4" value="{{sub.y4}}"></div>

                            </div>
                                {%for s1,s2 in sub.items %}
                                    {%if not s2|get_item  %}

                                        <div class="subsection college-list">
                                            <div >
                                                <div class="col-md-3"><input type="text" style="border:None;padding-left :40px;color:purple" name="subsection" value="{{s1}}"></div>
                                                <div class="col-md-1"><input style="border:None;color:purple" name="s1_q1" type="text" value="{{s2.q1|default:0}}"></div>
                                                <div class="col-md-1"><input style="border:None;color:purple" name="s1_q2" type="text" value="{{s2.q2|default:0}}"></div>
                                                <div class="col-md-1"><input style="border:None;color:purple" name="s1_q3" type="text" value="{{s2.q3|default:0}}"></div>
                                                <div class="col-md-1"><input style="border:None;color:purple" name="s1_q4" type="text" value="{{s2.q4|default:0}}"></div>
                                                <div class="col-md-1"><input style="border:None;color:purple" name="s1_y1" type="text" value="{{s2.y1|default:0}}"></div>
                                                <div class="col-md-1"><input style="border:None;color:purple" name="s1_y2" type="text" value="{{s2.y2|default:0}}"></div>
                                                <div class="col-md-1"><input style="border:None;color:purple" name="s1_y3" type="text" value="{{s2.y3|default:0}}"></div>
                                                <div class="col-md-1"><input style="border:None;color:purple" name="s1_y4" type="text" value="{{s2.y4|default:0}}"></div>
                                                <div class="col-md-1">
                                                    <span onclick="add_row(this)" class="sprite plus-icon"></span>
                                                </div>
                                            </div>

                                            {% if not s2.s2sec %}
                                                {%for i,j in s2.items %}

                                                    <div class="existing_sec">
                                                        <div class="col-md-3"><input type="text" style="border:None;padding-left :80px;color:red" name="existing_sec" value="{{i}}"></div>
                                                        <div class="col-md-1"><input class="val" style="border:None;color:red" name="exist_q1" type="text" value="{{j.q1|default:0}}"></div>
                                                        <div class="col-md-1"><input class="val"  style="border:None;color:red" name="exist_q2" type="text" value="{{j.q2|default:0}}"></div>
                                                        <div class="col-md-1"><input class="val"  style="border:None;color:red" name="exist_q3" type="text" value="{{j.q3|default:0}}"></div>
                                                        <div class="col-md-1"><input  class="val" style="border:None;color:red" name="exist_q4" type="text" value="{{j.q4|default:0}}"></div>
                                                        <div class="col-md-1"><input  class="val" style="border:None;color:red" name="exist_y1" type="text" value="{{j.y1|default:0}}"></div>
                                                        <div class="col-md-1"><input  class="val" style="border:None;color:red" name="exist_y2" type="text" value="{{j.y2|default:0}}"></div>
                                                        <div class="col-md-1"><input  class="val" style="border:None;color:red" name="exist_y3" type="text" value="{{j.y3|default:0}}"></div>
                                                        <div class="col-md-1"><input  class="val" style="border:None;color:red" name="exist_y4" type="text" value="{{j.y4|default:0}}"></div>
                                                        <div class="col-md-1">
                                                             <select id="new_comp" style="width: 100px;";name="b_comp" onchange="change_comp(this);">
                                                                 <option value ='' selected>Select Head</option>
                                                                {% for com in comp %}
                                                                            <option value="{{com}}" >{{com}}</option>
                                                                {% endfor %}

                                                            </select>
                                                        <span onclick="delete_row(this)" class="sprite delete_icon"></span>
                                                        </div>
                                                    </div>



                                                {%endfor%}
                                                {%else%}
                                                    {%for i,j in s2.items %}
                                                        {%if i != 's2sec' %}
                                                            <div class="s2section">

                                                            <div >
                                                                <div class="col-md-3"><input type="text" style="border:None;padding-left :80px;color:black" name="s2section" value="{{i}}"></div>
                                                                <div class="col-md-1"><input style="border:None;color:blue" name="s2_q1" type="text" value="{{s2.q1|default:0}}"></div>
                                                                <div class="col-md-1"><input style="border:None;color:blue" name="s2_q2" type="text" value="{{s2.q2|default:0}}"></div>
                                                                <div class="col-md-1"><input style="border:None;color:blue" name="s2_q3" type="text" value="{{s2.q3|default:0}}"></div>
                                                                <div class="col-md-1"><input style="border:None;color:blue" name="s2_q4" type="text" value="{{s2.q4|default:0}}"></div>
                                                                <div class="col-md-1"><input style="border:None;color:blue" name="s2_y1" type="text" value="{{s2.y1|default:0}}"></div>
                                                                <div class="col-md-1"><input style="border:None;color:blue" name="s2_y2" type="text" value="{{s2.y2|default:0}}"></div>
                                                                <div class="col-md-1"><input style="border:None;color:blue" name="s2_y3" type="text" value="{{s2.y3|default:0}}"></div>
                                                                <div class="col-md-1"><input style="border:None;color:blue" name="s2_y4" type="text" value="{{s2.y4|default:0}}"></div>
                                                                <div class="col-md-1">
                                                                        <span onclick="add_s2row(this)" class="sprite plus-icon"></span>
                                                                </div>
                                                            </div>

                                                                {%for k,val in j.items %}
                                                                    <div class="existing_s2sec">
                                                                        <div class="col-md-3"><input type="text" style="border:None;padding-left :120px;color:red" name="existing_s2" value="{{k}}"></div>
                                                                        <div class="col-md-1"><input  class="val" style="border:None;color:red" name="exists2_q1" type="text" value="{{val.q1|default:0}}"></div>
                                                                        <div class="col-md-1"><input  class="val" style="border:None;color:red" name="exists2_q2" type="text" value="{{val.q2|default:0}}"></div>
                                                                        <div class="col-md-1"><input  class="val" style="border:None;color:red" name="exists2_q3" type="text" value="{{val.q3|default:0}}"></div>
                                                                        <div class="col-md-1"><input  class="val" style="border:None;color:red" name="exists2_q4" type="text" value="{{val.q4|default:0}}"></div>
                                                                        <div class="col-md-1"><input  class="val" style="border:None;color:red" name="exists2_y1" type="text" value="{{val.y1|default:0}}"></div>
                                                                        <div class="col-md-1"><input  class="val" style="border:None;color:red" name="exists2_y2" type="text" value="{{val.y2|default:0}}"></div>
                                                                        <div class="col-md-1"><input  class="val" style="border:None;color:red" name="exists2_y3" type="text" value="{{val.y3|default:0}}"></div>
                                                                        <div class="col-md-1"><input  class="val" style="border:None;color:red" name="exists2_y4" type="text" value="{{val.y4|default:0}}"></div>
                                                                        <div class="col-md-1">
                                                                            <select id="moves2section" style="width: 100px;" onchange="move_s2section(this);">
                                                                                <option value ='' selected>Select Subsection Head</option>
                                                                                {% for com in comp %}
                                                                                        <option value="{{com}}">{{com}}</option>
                                                                                        <!--<input hidden="hidden" type="text" name="existing_comp" value ={{k}}>-->
                                                                                    <!--<option value="{{com}}">{{com}}</option>-->

                                                                                {% endfor %}
                                                                            </select> <span onclick="delete_rows2(this)" class="sprite delete_icon"></span></div>

                                                                    </div>
                                                                {%endfor%}

                                                            </div>

                                                        {%endif%}
                                                    {%endfor%}
                                            {% endif %}
                                        </div>
                                    {%endif%}
                                {%endfor%}
                            </div>
                            <!--<input style="width: 30%" type="button" value="Save" onclick="javascript:return form_save('bs_form');">-->
                            <!--<button class="btn btn-success"><span class="sprite plus-button" onclick="save_sec(this)"></span>Save </button>-->
                        </form>
                    {%endfor%}